@model MerrithewDemo.Models.Map

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <div id="map"></div>

        <script>
            $(document).ready(function () {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(
                    //SUCCESS
                    function (position) {
                        console.log(position.coords.latitude + " ~~ " + position.coords.longitude);
                        $.ajax({
                            //processing
                            method: "POST",
                            url: "/Location/GetLocation",
                            data: { latitude: position.coords.latitude, longitude: position.coords.longitude }
                        }).done(function (_markerArray) {
                            //done porceesing
                            //
                            console.log(_markerArray);
                            markerArray = _markerArray;
                            createMap(position.coords.latitude, position.coords.longitude, _markerArray);
                            //alert("Data Saved: " + msg);
                        });
                    },
                    //FAIL
                    function (err) {
                        switch (err.code) {
                            case
                            err.PERMISSION_DENIED:

                            case
                            err.POSITION_UNAVAILABLE:

                            case
                            err.TIMEOUT:

                            case
                            err.UNKNOWN_ERROR:
                                break;
                        }
                    });
                }


            });
            function createMap(latitude, longitude, markerArray) {
                $("#map").kendoMap({
                    center: [latitude, longitude],
                    zoom: 3,
                    layers: [{
                        type: "tile",
                        urlTemplate: "http://#= subdomain #.tile.openstreetmap.org/#= zoom #/#= x #/#= y #.png",
                        subdomains: ["a", "b", "c"],
                        attribution: "&copy; <a href='http://osm.org/copyright'>OpenStreetMap contributors</a>"
                    }],
                    markers: markerArray
                });

                var markerArray = [];

            }
        </script>
    </div>
</body>
</html>