@model MerrithewDemo.Models.Map

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @(Html.Kendo().Map()
        .Name(Model.Name)
        .Center(Model.CenterLatitude, Model.CenterLongitude)
        .Zoom(Model.Zoom)
        .Layers(layers => layers
            .Add()
            .Type(MapLayerType.Tile)
            .UrlTemplate(Model.TileUrlTemplate)
            .Subdomains(Model.TileSubdomains)
            .Attribution(Model.TileAttribution)
        )
        .Markers(markers =>
        {
            foreach (var marker in Model.Markers)
            {
                markers.Add()
                .Location(marker.latlng)
                .Title(marker.name);
            }
        })
        )
       
        <script>
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(
                //SUCCESS
                function (position) {
                    alert(
                    'Success! Coordinates: '
                    + position.coords.latitude
                    +
                    " "
                    + position.coords.longitude);
                },
                //FAIL
                function (err) {
                    switch (err.code) {
                        case
                        err.PERMISSION_DENIED:

                        case
                        err.POSITION_UNAVAILABLE:

                        case
                        err.TIMEOUT:

                        case
                        err.UNKNOWN_ERROR:
                            break;
                    }
                });
            }
        </script>
    </div>
</body>
</html>